<head>
	<meta charset="utf-8">
	<title>Mobility WOD Generator</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Mobility WOD Generator</h1>
		<div class="row">
			<div class="col-md-4 col-sm-4 archetype">
				<h2 id="archh2"></h2>
				<div id="arch"></div>
        		<img id="archImg" alt="" src="" style="height: 85px; width: 198px">
			</div>
		
			<div class="col-md-4 col-sm-4 archetype">
				<h2 id="area1title">Area 1</h2>
				<div id="area1"></div>
        		<img id="mov1img" alt="" src="" style="height: 85px; width: 198px">
        	</div>
        
			<div class="col-md-4 col-sm-4 archetype">
				<h2 id="area2title">Area 2</h2>
				<div id="area2"></div>
				<img class="bottomimg" id="mov2img" alt="" src="" style="height: 85px; width: 198px">
			</div>
     </div>
  </div>
	
    <!-- <div>Do each exercise for <span class="time">2:00</span> minutes!</div>
  <button>Start Timer</button> -->
  

</body>
<script type="text/javascript" src="mobwod.js"></script>